*,
*::after,
*::before {
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Proza Libre", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

.link {
  display: block;
  position: relative;
  color: black;
  padding-left: 12px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 2px;
    width: 4px;
    height: 4px;
    background-color: #000;
  }

  &:hover,
  &:active {
    color: #990505;
  }
}

.link + .link {
  margin-top: 12px;
}

@import "header";
@import "back-btn";
@import "season";
@import "pics";
@import "youtube";
@import "counter";
@import "song";
@import "calligraphy";
