*,
*::after,
*::before {
  font-family: "Open Sans", sans-serif;
}

p, ul {
  padding: 0;
  margin: 0;
}

.title {
  font-family: "Proza Libre", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 1.41;
}


@import "header";
@import "back-btn";
@import "home";
@import "season";
@import "pics";
@import "youtube";
@import "counter";
@import "song";
@import "calligraphy";
